@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(96.79% 0.0654 102.26);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(86.03% 0.176 92.36);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #facc00;
  --chart-2: #7a83ff;
  --chart-3: #ff4d50;
  --chart-4: #00d696;
  --chart-5: #0099ff;
  --chart-active-dot: #000;

  --cta: #2c2c2c;
  --cta-gold: #fccc41;
}

.dark {
  --background: oklch(29.28% 0.0373 94.38);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(79.36% 0.1624 92.49);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #e0b700;
  --chart-2: #7a83ff;
  --chart-3: #ff6669;
  --chart-4: #00bd84;
  --chart-5: #008ae5;
  --chart-active-dot: #fff;
}

body {
  font-family: var(--font-dm-sans, sans-serif);
}

@theme inline {
  --font-dm-sans: "DM Sans", sans-serif;
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* --spacing: 0.25rem; */
  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 800;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  main {
    @apply mx-auto px-14 flex flex-col gap-8 bg-background h-full max-w-[1400px] pt-10 max-sm:px-2;
  }
  h1 {
    @apply text-3xl font-bold;
  }
}

@layer components {
  .home-section {
    @apply flex gap-4 justify-between items-start w-full max-lg:flex-col-reverse max-lg:items-center;
  }
  .companions-grid {
    @apply flex flex-wrap gap-4 w-full max-md:justify-center;
  }
  .companion-card {
    @apply flex flex-col rounded-4xl border border-black px-4 py-4 gap-5 w-full min-lg:max-w-[410px] justify-between;
  }
  .subject-badge {
    @apply bg-black text-white rounded-4xl text-sm px-2 py-1 capitalize;
  }
  .companion-bookmark {
    @apply px-2 bg-black rounded-4xl flex items-center h-full aspect-square cursor-pointer;
  }
  .input {
    @apply !border-black !bg-white focus-visible:!ring-0 focus-visible:!border-black !w-full;
  }
  .rounded-border {
    @apply rounded-4xl border border-black;
  }
  .navbar {
    @apply flex items-center justify-between mx-auto w-full px-14 py-3 bg-white border-b-4 max-sm:px-4;
  }
  .btn-signin {
    @apply border border-black rounded-4xl px-4 py-2.5 text-sm font-semibold flex items-center gap-2 cursor-pointer;
  }
  .companion-list {
    @apply rounded-4xl border border-black px-7 pt-7 pb-10 max-lg:w-full bg-white;
  }
  .companion-limit {
    @apply items-center justify-center flex flex-col gap-4 w-full min-2xl:w-1/2 pt-20 text-center;
  }

  .companion-section {
    @apply border-2 border-orange-500 w-2/3 max-sm:w-full flex flex-col gap-4 justify-center items-center rounded-lg;
  }

  .companion-avatar {
    @apply size-[300px] flex items-center justify-center rounded-lg max-sm:size-[100px] mt-4;
  }
  .companion-lottie {
    @apply size-[300px] max-sm:size-[100px];
  }

  .user-section {
    @apply flex flex-col gap-4 w-1/3 max-sm:w-full max-sm:flex-row;
  }
  .user-avatar {
    @apply border-2 border-black flex flex-col gap-4 items-center rounded-lg py-8 max-sm:hidden;
  }

  .btn-mic {
    @apply border-2 border-black rounded-lg flex flex-col gap-2 items-center py-8 max-sm:py-2 cursor-pointer w-full;
  }

  .transcript {
    @apply relative flex flex-col gap-4 w-full items-center pt-10 flex-grow overflow-hidden;
  }
  .transcript-message {
    @apply overflow-y-auto w-full flex flex-col gap-4 max-sm:gap-2 pr-2 h-full text-2xl;
  }
  .transcript-fade {
    @apply pointer-events-none absolute bottom-0 left-0 right-0 h-40 max-sm:h-20 bg-gradient-to-t from-background via-background/90 to-transparent z-10;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
